<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  {% if site.social.weibo %}
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="#" class="fa fa-weibo bds_tsina" data-cmd="tsina" title="分享到新浪微博" target="_blank">
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.QQ %}
  <!-- QQ -->
  <li class="navigation__item">
    <a href="tencent://message/?uin={{site.social.QQ}}&Site=&Menu=yes" title="@{{site.social.QQ}}" target="_blank">
      <i class='social fa fa-qq'></i>
      <span class="label">QQ</span>
    </a>
  </li>
  {% endif %}
  <!--邮箱联系-->
  {% if site.social.mail %}
  <li class="navigation__item">
    <a href="mailto:{{site.social.mail}}" title="Contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  {% endif %}
  <!-- RSS -->
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>
    <!-- Google Plus -->
  {% if site.social.gplus %}
  <li class="navigation__item">
    <a href="https://plus.google.com/{{site.social.gplus}}" rel="author" title="Google+" target="_blank">
      <i class='social fa fa-google-plus-square'></i>
      <span class="label">Google Plus</span>
    </a>
  </li>
  {% endif %}
  </ul>
</nav>
